In [61]:
import nltk
from nltk.corpus import stopwords
import numpy as np
import pandas as pd
import string
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
from nltk.tokenize import word_tokenize, TreebankWordTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
# set plot style
sns.set()

In [45]:
df= pd.read_csv("train.csv")

In [46]:
df_test= pd.read_csv("test_with_no_labels.csv")

In [47]:
df_test

                                                 message  tweetid
0      Europe will now be looking to China to make su...   169760
1      Combine this with the polling of staffers re c...    35326
2      The scary, unimpeachable evidence that climate...   224985
3      @Karoli @morgfair @OsborneInk @dailykos \nPuti...   476263
4      RT @FakeWillMoore: 'Female orgasms cause globa...   872928
...                                                  ...      ...
10541  RT @BrittanyBohrer: Brb, writing a poem about ...   895714
10542  2016: the year climate change came home: Durin...   875167
10543  RT @loop_vanuatu: Pacific countries positive a...    78329
10544  RT @xanria_00018: You’re so hot, you must be t...   867455
10545  RT @chloebalaoing: climate change is a global ...   470892

[10546 rows x 2 columns]

## Data Cleaning

Removing unnecessary noise e.g capitalization, symbols and stopwords

In [48]:
#replacing website limks with url-web if it exist in message in train data 
pattern_url = r'http[s]?://(?:[A-Za-z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9A-Fa-f][0-9A-Fa-f]))+'
subs_url = r'url-web'
df["message"] = df["message"].replace(to_replace = pattern_url, value = subs_url, regex = True)

In [49]:
#replacing website limks with url-web if it exist in message in test data 
df_test["message"] = df_test["message"].replace(to_replace = pattern_url, value = subs_url, regex = True)

In [50]:
# To avoid unneccessary noise, message column ws converted to lower case
df["message"]= df["message"]. str.lower()
df_test["message"]= df_test["message"].str.lower()

In [51]:
#punctuation removal 
#function 
def remove_punctuation(post):
    return ''.join([l for l in post if l not in string.punctuation])

In [52]:
df["message"]= df["message"].apply(remove_punctuation)

In [53]:
df_test["message"]= df_test["message"].apply(remove_punctuation)

In [54]:
df

       sentiment                                            message  tweetid
0              1  polyscimajor epa chief doesnt think carbon dio...   625221
1              1  its not like we lack evidence of anthropogenic...   126103
2              2  rt rawstory researchers say we have three year...   698562
3              1  todayinmaker wired  2016 was a pivotal year in...   573736
4              1  rt soynoviodetodas its 2016 and a racist sexis...   466954
...          ...                                                ...      ...
15814          1  rt ezlusztig they took down the material on gl...    22001
15815          2  rt washingtonpost how climate change could be ...    17856
15816          0  notiven rt nytimesworld what does trump actual...   384248
15817         -1  rt sara8smiles hey liberals the climate change...   819732
15818          0  rt chetcannon kurteichenwalds climate change e...   806319

[15819 rows x 3 columns]

## Tokenization

In [55]:
# sticking to use treebankwordtokenizer because it much quicker and easier
tokeniser = TreebankWordTokenizer()
df['message'] = df['message'].apply(tokeniser.tokenize)

In [56]:
tokeniser = TreebankWordTokenizer()
df_test["message"]= df_test["message"].apply (tokeniser.tokenize)

In [57]:
# A quick view 
df

       sentiment                                            message  tweetid
0              1  [polyscimajor, epa, chief, doesnt, think, carb...   625221
1              1  [its, not, like, we, lack, evidence, of, anthr...   126103
2              2  [rt, rawstory, researchers, say, we, have, thr...   698562
3              1  [todayinmaker, wired, 2016, was, a, pivotal, y...   573736
4              1  [rt, soynoviodetodas, its, 2016, and, a, racis...   466954
...          ...                                                ...      ...
15814          1  [rt, ezlusztig, they, took, down, the, materia...    22001
15815          2  [rt, washingtonpost, how, climate, change, cou...    17856
15816          0  [notiven, rt, nytimesworld, what, does, trump,...   384248
15817         -1  [rt, sara8smiles, hey, liberals, the, climate,...   819732
15818          0  [rt, chetcannon, kurteichenwalds, climate, cha...   806319

[15819 rows x 3 columns]

In [58]:
df_test

                                                 message  tweetid
0      [europe, will, now, be, looking, to, china, to...   169760
1      [combine, this, with, the, polling, of, staffe...    35326
2      [the, scary, unimpeachable, evidence, that, cl...   224985
3      [karoli, morgfair, osborneink, dailykos, putin...   476263
4      [rt, fakewillmoore, female, orgasms, cause, gl...   872928
...                                                  ...      ...
10541  [rt, brittanybohrer, brb, writing, a, poem, ab...   895714
10542  [2016, the, year, climate, change, came, home,...   875167
10543  [rt, loopvanuatu, pacific, countries, positive...    78329
10544  [rt, xanria00018, you’re, so, hot, you, must, ...   867455
10545  [rt, chloebalaoing, climate, change, is, a, gl...   470892

[10546 rows x 2 columns]

### Lemmatization

In [62]:
lemmatizer = WordNetLemmatizer()

In [63]:
# building a function 
def mbti_lemma(words, lemmatizer):
    return [lemmatizer.lemmatize(word) for word in words]

In [64]:
# Applying the function on df and df_test (train and test dtata frame)
df['message'] = df['message'].apply(mbti_lemma, args=(lemmatizer, ))

In [65]:
df_test["message"]= df ["message"].apply(mbti_lemma, args=(lemmatizer, ))

A Quick view

In [66]:
df

       sentiment                                            message  tweetid
0              1  [polyscimajor, epa, chief, doesnt, think, carb...   625221
1              1  [it, not, like, we, lack, evidence, of, anthro...   126103
2              2  [rt, rawstory, researcher, say, we, have, thre...   698562
3              1  [todayinmaker, wired, 2016, wa, a, pivotal, ye...   573736
4              1  [rt, soynoviodetodas, it, 2016, and, a, racist...   466954
...          ...                                                ...      ...
15814          1  [rt, ezlusztig, they, took, down, the, materia...    22001
15815          2  [rt, washingtonpost, how, climate, change, cou...    17856
15816          0  [notiven, rt, nytimesworld, what, doe, trump, ...   384248
15817         -1  [rt, sara8smiles, hey, liberal, the, climate, ...   819732
15818          0  [rt, chetcannon, kurteichenwalds, climate, cha...   806319

[15819 rows x 3 columns]

In [67]:
df_test

                                                 message  tweetid
0      [polyscimajor, epa, chief, doesnt, think, carb...   169760
1      [it, not, like, we, lack, evidence, of, anthro...    35326
2      [rt, rawstory, researcher, say, we, have, thre...   224985
3      [todayinmaker, wired, 2016, wa, a, pivotal, ye...   476263
4      [rt, soynoviodetodas, it, 2016, and, a, racist...   872928
...                                                  ...      ...
10541  [ecowas, say, addressing, climate, change, iss...   895714
10542  [sarahartman, my, god, he, going, to, build, a...   875167
10543  [rt, sensanders, if, we, dont, address, climat...    78329
10544  [im, wearing, a, jean, jacket, during, winter,...   867455
10545  [rt, awuillermin, you, know, what, im, so, sto...   470892

[10546 rows x 2 columns]

### Stop Word Removal

In [69]:
#Building the function 
def remove_stop_words(tokens):    
    return [t for t in tokens if t not in stopwords.words('english')]